@import '../../constants';
.game-start {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba($background-color, 0.5);
  pointer-events: none;
  & > &__text {
    margin: 16px auto;
    color: $text-color-start-end;
    &_blink {
      animation: blink 2s linear infinite;
    }
  }
}

@keyframes blink {
  0% {
    color: $text-color-start-end;
  }
  50% {
    color: $background-color;
  }
  100% {
    color: $text-color-start-end;
  }
}
