/* stylelint-disable color-no-hex */
$Black100: rgb(100, 100, 100);
$Black200: rgb(150, 150, 150);
$Black300: rgb(200, 200, 200);
$Black400: rgb(240, 240, 240);

$TrueBlack: rgb(0, 0, 0);

$White: rgb(255, 255, 255);
