/* stylelint-disable color-no-hex */
$black-100: rgb(100, 100, 100);
$black-200: rgb(150, 150, 150);
$black-300: rgb(200, 200, 200);
$black-400: rgb(240, 240, 240);

$true-black: rgb(0, 0, 0);

$base: rgb(255, 255, 255);
